
/****** Object:  Table [dbo].[Animals]    Script Date: 22/03/2024 4:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animals](
	[animalID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[gender] [varchar](1) NULL,
	[dob] [date] NULL,
	[ownerID] [int] NULL,
	[speciesID] [int] NULL,
 CONSTRAINT [animals_PK] PRIMARY KEY CLUSTERED 
(
	[animalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 22/03/2024 4:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[courseID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[photo] [varchar](500) NULL,
	[date] [datetime] NOT NULL,
	[trainerID] [int] NOT NULL,
 CONSTRAINT [courses_PK] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrolments]    Script Date: 22/03/2024 4:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrolments](
	[CourseID] [int] NOT NULL,
	[PuppyID] [int] NOT NULL,
 CONSTRAINT [Enrollments_PK] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC,
	[PuppyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 22/03/2024 4:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[ownerID] [int] NOT NULL,
	[contact] [varchar](100) NULL,
 CONSTRAINT [owners_PK] PRIMARY KEY CLUSTERED 
(
	[ownerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 22/03/2024 4:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[personID] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](100) NOT NULL,
	[lastName] [varchar](100) NOT NULL,
	[addressLine1] [varchar](100) NULL,
	[addressLine2] [varchar](100) NULL,
 CONSTRAINT [People_PK] PRIMARY KEY CLUSTERED 
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puppies]    Script Date: 22/03/2024 4:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puppies](
	[puppyID] [int] NOT NULL,
 CONSTRAINT [Puppies_PK] PRIMARY KEY CLUSTERED 
(
	[puppyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22/03/2024 4:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[roleID] [varchar](3) NOT NULL,
	[roleName] [varchar](25) NOT NULL,
 CONSTRAINT [roles_PK] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Species]    Script Date: 22/03/2024 4:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Species](
	[speciesID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[parentSpeciesID] [int] NULL,
 CONSTRAINT [Species_PK] PRIMARY KEY CLUSTERED 
(
	[speciesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 22/03/2024 4:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staffID] [int] NOT NULL,
	[email] [varchar](100) NULL,
	[photo] [varchar](500) NULL,
	[roleID] [varchar](3) NULL,
 CONSTRAINT [Staff_PK] PRIMARY KEY CLUSTERED 
(
	[staffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 22/03/2024 4:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[trainerID] [int] NOT NULL,
	[specialty] [varchar](100) NULL,
	[description] [varchar](max) NULL,
 CONSTRAINT [trainers_PK] PRIMARY KEY CLUSTERED 
(
	[trainerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Animals] ON 

INSERT [dbo].[Animals] ([animalID], [name], [gender], [dob], [ownerID], [speciesID]) VALUES (2, N'Gus', N'M', CAST(N'2018-10-05' AS Date), 203, 37)
INSERT [dbo].[Animals] ([animalID], [name], [gender], [dob], [ownerID], [speciesID]) VALUES (3, N'Daisy', N'F', CAST(N'2016-05-16' AS Date), 190, 16)
INSERT [dbo].[Animals] ([animalID], [name], [gender], [dob], [ownerID], [speciesID]) VALUES (4, N'Oliver', N'M', CAST(N'2017-04-12' AS Date), 179, 20)
GO
SET IDENTITY_INSERT [dbo].[Animals] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([courseID], [name], [description], [photo], [date], [trainerID]) VALUES (1, N'Obedience Adventure', N'Join us on an exciting journey to master basic obedience commands! This course covers sit, stay, come, and more, making learning fun and rewarding for you and your pup.', N'', CAST(N'2023-09-16T11:30:00.000' AS DateTime), 39)
INSERT [dbo].[Courses] ([courseID], [name], [description], [photo], [date], [trainerID]) VALUES (2, N'Social Paws Playtime', N'Let''s get social! This course focuses on puppy socialization, providing opportunities for your furry friend to interact with other pups in a safe and controlled environment.', N'', CAST(N'2023-11-30T18:00:00.000' AS DateTime), 153)
INSERT [dbo].[Courses] ([courseID], [name], [description], [photo], [date], [trainerID]) VALUES (3, N'Crate Escape', N'Discover the magic of crate training in this engaging course. Learn how to introduce your puppy to their crate and make it a cozy retreat they''ll love to call their own.', N'', CAST(N'2024-01-25T17:30:00.000' AS DateTime), 156)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
INSERT [dbo].[Enrolments] ([CourseID], [PuppyID]) VALUES (1, 10)
INSERT [dbo].[Enrolments] ([CourseID], [PuppyID]) VALUES (1, 316)
INSERT [dbo].[Enrolments] ([CourseID], [PuppyID]) VALUES (1, 321)
GO
INSERT [dbo].[Owners] ([ownerID], [contact]) VALUES (2, N'0442 492 377')
INSERT [dbo].[Owners] ([ownerID], [contact]) VALUES (3, N'0479 412 318')
INSERT [dbo].[Owners] ([ownerID], [contact]) VALUES (4, N'0455 422 743')
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([personID], [firstName], [lastName], [addressLine1], [addressLine2]) VALUES (1, N'Sarah', N'Weingarth', N'68 Begley Street', N'STURT, SA 5000')
INSERT [dbo].[People] ([personID], [firstName], [lastName], [addressLine1], [addressLine2]) VALUES (2, N'Adam', N'Croft', N'3 Shannon Court', N'HAWKER, SA 5434')
INSERT [dbo].[People] ([personID], [firstName], [lastName], [addressLine1], [addressLine2]) VALUES (3, N'Makayla', N'Kerferd', N'37 Weigall Avenue', N'MOUNT BRYAN EAST, SA 5419')
GO
SET IDENTITY_INSERT [dbo].[People] OFF
GO
INSERT [dbo].[Puppies] ([puppyID]) VALUES (5)
INSERT [dbo].[Puppies] ([puppyID]) VALUES (9)
INSERT [dbo].[Puppies] ([puppyID]) VALUES (10)
GO
INSERT [dbo].[Roles] ([roleID], [roleName]) VALUES (N'o', N'Office Worker')
INSERT [dbo].[Roles] ([roleID], [roleName]) VALUES (N't', N'Training Instructor')
INSERT [dbo].[Roles] ([roleID], [roleName]) VALUES (N'v', N'Vet')
GO
SET IDENTITY_INSERT [dbo].[Species] ON 

INSERT [dbo].[Species] ([speciesID], [name], [parentSpeciesID]) VALUES (1, N'Dog', NULL)
INSERT [dbo].[Species] ([speciesID], [name], [parentSpeciesID]) VALUES (2, N'Cat', NULL)
INSERT [dbo].[Species] ([speciesID], [name], [parentSpeciesID]) VALUES (3, N'Labrador Retriever', 1)
GO
SET IDENTITY_INSERT [dbo].[Species] OFF
GO
INSERT [dbo].[Staff] ([staffID], [email], [photo], [roleID]) VALUES (1, N'weinsar007@openvcms.com', NULL, N'v')
INSERT [dbo].[Staff] ([staffID], [email], [photo], [roleID]) VALUES (6, N'stedcai017@openvcms.com', NULL, N'v')
INSERT [dbo].[Staff] ([staffID], [email], [photo], [roleID]) VALUES (10, N'bavispe011@openvcms.com', NULL, N'o')
GO
INSERT [dbo].[Trainers] ([trainerID], [specialty], [description]) VALUES (37, N'General Training', N' "Buddy", is an expert in general training, offering a comprehensive approach to puppy development. With a focus on building fundamental skills and fostering positive behaviors, he guides puppies towards success.')
INSERT [dbo].[Trainers] ([trainerID], [specialty], [description]) VALUES (39, N'Obedience Training', N'Vielka is dedicated to obedience training, providing puppies with structured lessons to master essential commands. Through patient guidance and consistent reinforcement, she helps puppies become well-behaved companions.')
INSERT [dbo].[Trainers] ([trainerID], [specialty], [description]) VALUES (56, N'Socialization', N'Mr Rodgers excels in socialization, creating safe environments for puppies to learn and grow. With expertise in understanding canine behavior, he facilitates positive interactions and nurtures confident companions.')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [roles_roleName_UK]    Script Date: 22/03/2024 4:13:16 PM ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [roles_roleName_UK] UNIQUE NONCLUSTERED 
(
	[roleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [Aniamals_Owners_fk] FOREIGN KEY([ownerID])
REFERENCES [dbo].[Owners] ([ownerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [Aniamals_Owners_fk]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [Animals_Species_fk] FOREIGN KEY([speciesID])
REFERENCES [dbo].[Species] ([speciesID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [Animals_Species_fk]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [courses_trainer_FK] FOREIGN KEY([trainerID])
REFERENCES [dbo].[Trainers] ([trainerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [courses_trainer_FK]
GO
ALTER TABLE [dbo].[Enrolments]  WITH CHECK ADD  CONSTRAINT [Enrolments_Courses_FK] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([courseID])
GO
ALTER TABLE [dbo].[Enrolments] CHECK CONSTRAINT [Enrolments_Courses_FK]
GO
ALTER TABLE [dbo].[Enrolments]  WITH CHECK ADD  CONSTRAINT [Enrolments_Puppies_FK] FOREIGN KEY([PuppyID])
REFERENCES [dbo].[Puppies] ([puppyID])
GO
ALTER TABLE [dbo].[Enrolments] CHECK CONSTRAINT [Enrolments_Puppies_FK]
GO
ALTER TABLE [dbo].[Owners]  WITH CHECK ADD  CONSTRAINT [owners_people_fk] FOREIGN KEY([ownerID])
REFERENCES [dbo].[People] ([personID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Owners] CHECK CONSTRAINT [owners_people_fk]
GO
ALTER TABLE [dbo].[Puppies]  WITH CHECK ADD  CONSTRAINT [Puppies_Animals_FK] FOREIGN KEY([puppyID])
REFERENCES [dbo].[Animals] ([animalID])
GO
ALTER TABLE [dbo].[Puppies] CHECK CONSTRAINT [Puppies_Animals_FK]
GO
ALTER TABLE [dbo].[Species]  WITH CHECK ADD  CONSTRAINT [Species_SubSpecies_FK] FOREIGN KEY([parentSpeciesID])
REFERENCES [dbo].[Species] ([speciesID])
GO
ALTER TABLE [dbo].[Species] CHECK CONSTRAINT [Species_SubSpecies_FK]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [Staff_People_FK] FOREIGN KEY([staffID])
REFERENCES [dbo].[People] ([personID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [Staff_People_FK]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [staff_roles_fk] FOREIGN KEY([roleID])
REFERENCES [dbo].[Roles] ([roleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [staff_roles_fk]
GO
ALTER TABLE [dbo].[Trainers]  WITH CHECK ADD  CONSTRAINT [trainers_staff_FK] FOREIGN KEY([trainerID])
REFERENCES [dbo].[Staff] ([staffID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Trainers] CHECK CONSTRAINT [trainers_staff_FK]
GO
