@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>DDWT Teaching Team</b> <br />
    UniSA  STEM<br />
    Mawson Lakes<br />
    Adelaide, SA 5000
</address>
